@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');
/* font-family: 'DM Serif Display', serif;
font-family: 'Karla', sans-serif; */

body {
    margin: 0;
    padding: 0;
}

/* ==========================================HEADER========================================= */

header nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Karla', sans-serif;
}
nav li {
    list-style-type: none;
    display: inline;
    margin-left: 15px;
    text-transform: uppercase;
}
nav li:last-child {
    border: 2px solid black;
    padding: 5px 10px;
}
nav li:last-child a {
    color: black;
}
nav a {
    text-decoration: none;
    color: rgb(156,154,159);
}

